<?php
use Training\Avatar\Block\Customer\Account\Avatar;

/** @var Avatar $block */
?>
<div data-mage-init='{"avatar": {"url": "<?php echo $block->getUrl('avatar/manager/');?>"}}'>
    <div class="block block-dashboard-info">
        <div class="block-title"><strong><?php echo __('Avatar'); ?></strong></div>
        <div class="block-content">
            <div class="box box-information">
                <strong class="box-title">
                    <span><?php echo __('Current'); ?></span>
                </strong>
                <div class="box-content">
                  <img id='avatarImg' src="<?php echo $this->getAvatarUrl(); ?>" width="150">
                </div>
            </div>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?php echo __('Actions'); ?></span>
                </strong>
              <div class="box-content">
                    <div><input id="upload-file" style="display:none" type="file" name="avatar" accept="image/*"></div>
                    <div style="margin-top:8px;"><button id="upload-button" type="button"><span><span><?php echo __('Upload Image'); ?></span></span></button></div>
                    <div style="margin-top:8px;"><button id="delete-button" type="button"><span><span><?php echo __('Delete Avatar'); ?></span></span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>

